@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    @Html.ActionLink("Todos ", "Index", "TODOItems") 
    @Html.ActionLink("Notes ", "Index", "Note") 
    @Html.ActionLink("ObservedUsersNotes ", "ObservedUsersNotes", "Note") 
    @Html.ActionLink("Groups ", "Index", "Groups") 
</div>